<div class="text-block">

      <h1 class="brand-title">Colemak'd</h1>

  <%= link_to "Sign Up", signup_path, class: "main-image-button my-button" %>
  <span class="sign-in">or <strong><%= link_to "Sign In", login_path %></strong></span>
    <div class="image-wrapper">
      <%= image_tag 'workstation.jpg', class: "index-image" %>
    </div>
  </div>

<div class="intro-box">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
      <h1>Step up your typing game</h1>

      <p><span class="list-letter list-letter a">A</span><span class="sub-text">Colemak'd makes it easy to learn the Colemak keyboard.  Already a pro? Check out our challenge levels and compete for a spot on the leaderboard!</span></p>

    </div>
  </div>
</div>

<div class="about-colemak-box">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
          <h1>Making typing fun</h1>
          <p>
            <span class="sub-text">
              <div class="row">
                <div class="large-5 large-offset-5 small-9 columns">
                  <p>Levels are short and simple.</p>
                  <p>Your highest scores are always recorded so you can easily chart your progress.</p>
                </div>
                <div class="medium-1 small-3 columns">
                  <span class="list-letter list-letter a">B</span>
                </div>
              </div>
            </span>
          </p>
    </div>
  </div>
</div>

<div class="benefit-colemak-box">
  <div class="row">
    <div class="medium-10 medium-offset-1 columns">
    <span class="list-letter list-letter a">C</span>
          <h1>The Benefits of Colemak</h1>
    </div>
  </div>


  <div class="row contain-row">

    <div class="medium-3 columns">
      <p><i class="fi-plus icon"></i></p>
      <p class="small-header">Ergonomic</p>
      <p class="small-text">Your fingers on QWERTY move 2.2x more than on Colemak, increasing your chance of developing RSSIs.</p>
    </div>
    <div class="medium-3 columns">
      <p><i class="fi-clock icon"></i></p>
      <p class="small-header">Fast</p>
      <p class="small-text">Most of the typing is done on the strongest and fastest fingers, Lowering your same-finger ratio.</p>
    </div>

    <div class="medium-3 columns">
      <p><i class="fi-puzzle icon"></i></p>
      <p class="small-header">Easy</p>
      <p class="small-text">There is only 17 keys that have been remapped as opposed to Dvorak, another alternative keyboard's 33.
    </div>

    <div class="medium-3 columns">
      <p><i class="fi-dollar icon"></i></p>
      <p class="small-header">Free</p>
      <p class="small-text">The Colemak keyboard layout is free software released under the public domain</p>
    </div>

  </div>

</div>

<div class="newsletter-box">
  <div class="row">
    <div class="small-10 small-offset-1 columns newsbox">
      <form>
      <fieldset>
      <legend><h3>Sign Up for our newsletter!</h3></legend>
        <div class="large-6 large-offset-3 columns">
          <div class="row collapse postfix-radius">
            <div class="small-9 columns">
              <input type="text" placeholder="Enter Your Email">
            </div>
            <div class="small-3 columns">
              <span class="postfix">Go!</span>
            </div>
          </div>
        </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

