// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lato: 'Lato', sans-serif;

.accordion-navigation a {
  background: #4c4c4c !important;
  padding-bottom: 10px !important;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid #fff;
}


.panel-square {
  background-color: white;
  width: 300px;
  margin: 20px;
  border-radius: 5px 5px 3px 3px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.07);
  display: inline-block;
  vertical-align: top;

  .panel-square-header {
    text-align: center;
    border-radius: 5px 5px 0 0;
    background: #4c4c4c;

    h3 {
      color: white;
      font-size: 1.5em;
    }

  }
  .panel-square-body {
    padding: 10px 10px 8px;
    border-radius: 0 0 3px 3px;

    a {
      background: white !important;
      padding-bottom: 0 !important;
    }

    a:hover {
      background-color: #f7f9f9 !important;
    }

  }

}


.levels.index {
    background: url('retina_wood.png');

    .levels-wrapper {
      text-align: center;
    }

    .levels-header {
      background-color: white;
      padding-top: 20px;
      padding-bottom: 15px;
      text-align: left;
      margin-bottom: 40px;
    }

    .panel-square {
      border-radius: 3px 3px 3px 3px;
    }

    .panel-square-header {
      border-radius: 3px 3px 0 0;
      position: relative;
    }

    .panel-square-header:hover, .panel-square-header:focus {
      background: #606060 !important;
    }

    .level-button:hover {
    background: #ededed !important;
    }

    .panel-square-body {
      padding: 0;
    }

    .level-button {
      border-top: 2px solid #cecece;
      text-align: center;
      padding: 10px;
    }

    h3, .arrow-down {
      display: inline-block;
    }

    .arrow-down {
      position: absolute;
      right: 20px;
      top: 32px;
    }
  

}



.levels.show {
  font-family: "courier new";

  background: url('retina_wood.png');

  .top-header {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .game-wrapper {
    position: relative;
    min-height: 480px;
  }

  .gamecontainer {
    font-size: 1em;
    width: 820px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -410px;
    transform: translateY(-50%);
  }

  .exercise-box, .input-box {
    border: 1px solid black;
    height: 35px;
    width: 100%;
    padding: 5px 15px 0;
    background-color: rgba(255,255,255,1);
  }

  .input-box {
    margin-top: -1px;
  }

  .box-wrapper:nth-child(2) {
    margin-top: -25px;
  }

    .box-wrapper:nth-child(3) {
    margin-top: -25px;
  }

    .box-wrapper:nth-child(4) {
    margin-top: -25px;
  }

    .box-wrapper:nth-child(5) {
    margin-top: -25px;
  }

  .hidden-box {
    height: 35px;
    width: 100%;
    padding: 5px 15px 0;
    position: relative;
    top: -35px;
  }

  .block {
    background-color: black;
  }

  .return {
    font-family: $lato;
    font-size: 1em;
    padding-top: 15px;
    text-align: center;

    .fi-arrow-left {
      margin-right: 5px;
    }
  }
}

.levels.list {
  h3 {
    font-family: $lato;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
  }
}

.levels.item {
  td {
    font-size: 1em;
  }

  .panel {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h2 {
    font-family: $lato;
  }

  table {
    margin-bottom: 30px;
    width: 100%;
  }
}

.levels.new {
  .header {
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
  }
}

.levels.edit {
  @extend .levels.new;
}
