// Place all the styles related to the levels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  box-sizing: border-box;
}

body {
  font-family: "courier new";
  background: url('lightpaperfibers.png');
}
.container {
  font-size: 1em;
  width: 820px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -410px;
    transform: translateY(-50%);
}

.exercise-box, .input-box {
  border: 1px solid black;
  height: 35px;
  width: 100%;
  padding: 5px 15px 0;
  background-color: rgba(255,255,255,.8);

}

.hidden-box {
  height: 35px;
  width: 100%;
  padding: 5px 15px 0;
  position: relative;
  top: -35px;
}

.block {
  background-color: black;
}

h1, h2, h3, h4, h5 {
	font-family: "courier new";
}

#topbar li {
  display: inline-block;
  border-right: 1px solid black;
  padding-right: 7px;
}
