// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.users.new {
  background: url('retina_wood.png');

  .index-image {
    margin-top: -30px;
    width: 100%;
  }

}